<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

    <!-- HANDLEBARS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Under Construction</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
      </div>
    </div>
    <div id="profiles">
      <h2>About Me:</h2>
      <script id="profiles-template" type="text/x-handlebars-template">
        {{#each profiles}}
          <img src='{{github_profile_image}}'>
          <p>Name: {{name}}</p>
          <p>Current City: {{current_city}} </p>
          <p>Github Link: {{github_link}} </p>
        {{/each}}
      </script>
    </div>

    <h3>My Favorite Restaurants</h3>
    <p>This is a list of my favorite restaurants in San Francisco.</p>
    <div id="restaurants">
      <script id="restaurants-template" type="text/x-handlebars-template">
        {{#each restaurants}}
          <p>Name: {{name}}</p>
          <p>Neighborhood: {{location}} </p>
          <p>Yelp Rating: {{rating}} </p>
        {{/each}}
      </script>
    </div>

    <form class="form-inline" id="newRestaurantForm">
      <div class="form-group">
        <label for="name">Restaurant Name</label>
        <input type="text" class="form-control" name="name" placeholder="Restaurant Name">
      </div>
      <div class="form-group">
        <label for="location">SF Neighborhood</label>
        <input type="text" class="form-control" name="location" placeholder="Location">
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        <input type="text" class="form-control" name="rating" placeholder="Rating">
      </div>
      <button type="submit" class="btn btn-default">Create Restaurant</button>
    </form>
  </body>
</html>
